@model List<Attendance>
@{
    ViewData["Title"] = "Event Attendance";
    var evnt = (Event)ViewBag.Event;
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">My Events</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@evnt.Id">@evnt.Name</a></li>
        <li class="breadcrumb-item active">Attendance (<span id="total">@Model.Count</span>)</li>
    </ol>
</nav>

<div class="row mb-3">
    <div class="col-9 col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-plus"></i></div>
            </div>
            <input id="add" type="text" class="form-control basicAutoComplete"
                   placeholder="Add Attendee" autocomplete="off">
        </div>
    </div>
    <div class="col-3 col-md-6">
        <a asp-controller="Email" asp-action="Attendees" asp-route-id="@evnt.Id" class="btn btn-primary" title="Email Attendees">
            <i class="fas fa-envelope-square"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><th>Name</th><th></th></tr>
            </thead>
            <tbody id="attendances">
                @foreach (var attendance in Model)
                {
                    <tr data-attendee-id="@attendance.AttendeeId">
                        <td>@attendance.Attendee.Name</td>
                        <td>
                            <button class="removeAttendance btn btn-danger btn-sm mr-2"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script>
        function removeAttendee(e) {
            var row = e.closest("tr");
            var attendeeId = row.attr("data-attendee-id");
            $.ajax({
                url: `@Context.Request.PathBase/MyEvents/@evnt.Id/Attendances/${attendeeId}`,
                method: "delete",
                success: function () {
                    var total = parseInt($("#total").text());
                    $("#total").text(--total);
                    row.remove();
                }
            });
        }
        $(function () {
            $(".removeAttendance").click(function () {
                removeAttendee($(this));
            });
            $("#add").autoComplete({
                minLength: 2,
                resolverSettings: {
                    url: "@Context.Request.PathBase/Users/PrefixSearch"
                },
                formatResult: function (item) {
                    return {
                        text: item.firstName + " " + item.lastName
                    }
                }
            });
            $("#add").on("autocomplete.select", function (evt, item) {
                $.ajax({
                    url: `@Context.Request.PathBase/MyEvents/@evnt.Id/Attendances/${item.id}`,
                    method: "post",
                    success: function () {
                        var total = parseInt($("#total").text());
                        $("#total").text(++total);
                        var row = $(`<tr data-attendee-id='${item.id}'>
                                       <td>${item.firstName} ${item.lastName}</td>
                                   </tr>`);
                        var btn = $("<button class='btn btn-danger btn-sm'><i class='far fa-trash-alt'></i></button>");
                        btn.click(function () {
                            removeAttendee($(this));
                        });
                        var cell = $("<td></td>").append(btn);
                        row.append(cell);
                        $("#attendances").append(row);
                    }
                });
                $("#add").val("");
            });
        });
    </script>
}
