@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@model List<Event>
@{
    ViewData["Title"] = "My Events";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">My Events</li>
        <li class="ml-auto"><a asp-action="Create" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></a></li>
    </ol>
</nav>

@if (Model.Count == 0)
{
    <p>You have not created any event yet.</p>
    <p>
        Note that this page shows the events you <em>created</em>. For the events you <em>attended</em>, please check out your
        <a asp-controller="Profile" asp-action="Account">Profile</a> page.
    </p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-md-table-cell">Event Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model)
            {
                <tr>
                    <td><a asp-action="View" asp-route-id="@evnt.Id">@evnt.Name</a></td>
                    <td class="d-none d-md-table-cell">@evnt.StartTime.ToString("d")</td>
                    <td>
                        @if (evnt.SubmitDate != null)
                        {
                            @if (evnt.Review?.IsApproved == null)
                            {
                                <span class="text-info">Submitted on @evnt.SubmitDate?.ToString("d")</span>
                            }
                            else if (evnt.Review?.IsApproved == true)
                            {
                                <span class="text-success">Published on @evnt.Review.Timestamp.ToString("d")</span>
                            }
                            else
                            {
                                <span class="text-danger">Denied on @evnt.Review.Timestamp.ToString("d")</span>
                            }
                        }
                        else
                        {
                            <span class="text-info">Draft</span>
                        }
                    </td>
                    <td>
                        <button class="delete btn btn-danger btn-sm mr-2" data-id="@evnt.Id" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="clone btn btn-primary btn-sm mr-2" data-id="@evnt.Id" title="Clone">
                            <i class="fas fa-copy"></i>
                        </button>
                        @if ((await authorizationService.AuthorizeAsync(User, evnt, Policy.CanEditEvent)).Succeeded)
                        {
                            <a class="btn btn-primary btn-sm mr-2" asp-action="Edit" asp-route-id="@evnt.Id"
                               title="Edit"><i class="fas fa-edit"></i></a>
                        }
                        @if (evnt.Review?.IsApproved == true)
                        {
                            <a class="btn btn-primary btn-sm" asp-action="Attendance" asp-route-id="@evnt.Id"
                               title="Attendance"><i class="fas fa-user-friends"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script>
        $(function () {
            $(".clone").click(function () {
                if (confirm("Do you want to clone this event?")) {
                    var id = $(this).attr("data-id");
                    window.location.href = `@Context.Request.PathBase/MyEvents/Clone/${id}`;
                }
            });
            $(".delete").click(function () {
                if (confirm("Do you want to delete this event?")) {
                    var id = $(this).attr("data-id");
                    window.location.href = `@Context.Request.PathBase/MyEvents/Delete/${id}`;
                }
            });
        });
    </script>
}
