@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@model Event
@{
    ViewData["Title"] = "Edit Event";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">My Events</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-action="Edit"
                   asp-route-id="@Context.Request.RouteValues["id"]">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdditionalInfo"
                   asp-route-id="@Context.Request.RouteValues["id"]">Additional Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Summary</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-12">
                <label>Name</label>
                <span class="form-control">@Model.Name</span>
            </div>
            @if (Model.EventPrograms.Count > 0)
            {
                <div class="form-group col-12">
                    <label>Affiliation(s)</label>
                    <div class="form-control">
                        @foreach (var eventProgram in Model.EventPrograms)
                        {
                            <span class="mr-3">@eventProgram.Program.ShortName</span>
                        }
                    </div>
                </div>
            }
            <div class="form-group col-md-6">
                <label>Time</label>
                <span class="form-control">
                    @Model.StartTime.ToString("g") - @Model.EndTime.ToString("g")
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Location</label>
                <span class="form-control">@Model.Location</span>
            </div>
            <div class="form-group col-md-6">
                <label>Category</label>
                <span class="form-control">@Model.Category.Name</span>
            </div>
            <div class="form-group col-md-6">
                <label>Target Audience</label>
                <span class="form-control">@Model.TargetAudience</span>
            </div>
            @if (Model.CoreCompetency != null)
            {
                <div class="form-group col-12">
                    <label>Develop Core Competency</label>
                    <span class="form-control">@Model.CoreCompetency</span>
                </div>
            }
            @if (Model.EventThemes.Count > 0)
            {
                <div class="form-group col-12">
                    @foreach (var eventTheme in Model.EventThemes)
                    {
                        <span class="badge badge-info">@eventTheme.Theme.Name</span>
                    }
                </div>
            }
            <div class="col-12 p-2">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
    <div class="col-8 text-right">
        @if ((await authorizationService.AuthorizeAsync(User, Model, Policy.CanReviewEvent)).Succeeded)
        {
            <a class="btn btn-primary" asp-action="Publish" asp-route-id="@Model.Id">Publish</a>
        }
        else
        {
            <a class="btn btn-primary" asp-action="Submit" asp-route-id="@Model.Id">Submit for Review</a>
        }
    </div>
</div>
