@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
@model List<Reward>
@{
    ViewData["Title"] = "My Rewards";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">My Rewards</li>
        <li class="ml-auto"><a asp-action="Create" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></a></li>
    </ol>
</nav>

@if (Model.Count == 0)
{
    <p>You have not created any reward yet.</p>
    <p>
        Note that this page shows the rewards you <em>created</em>. For the rewards that you <em>received</em> or may receive,
        please check out your <a asp-controller="Profile" asp-action="Account">Profile</a> page.
    </p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-md-table-cell">Expiration Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reward in Model)
            {
                <tr>
                    <td><a asp-action="View" asp-route-id="@reward.Id">@reward.Name</a></td>
                    <td class="d-none d-md-table-cell">@reward.ExpireDate?.ToString("d")</td>
                    <td>
                        @if (reward.SubmitDate != null)
                        {
                            @if (reward.Review?.IsApproved == null)
                            {
                                <span class="text-info">Submitted on @reward.SubmitDate?.ToString("d")</span>
                            }
                            else if (reward.Review?.IsApproved == true)
                            {
                                <span class="text-success">Published on @reward.Review.Timestamp.ToString("d")</span>
                            }
                            else
                            {
                                <span class="text-danger">Denied on @reward.Review.Timestamp.ToString("d")</span>
                            }
                        }
                        else
                        {
                            <span class="text-info">Draft</span>
                        }
                    </td>
                    <td>
                        <button class="delete btn btn-danger btn-sm mr-2" data-id="@reward.Id" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                        @if ((await authorizationService.AuthorizeAsync(User, reward, Policy.CanEditReward)).Succeeded)
                        {
                            <a class="btn btn-primary btn-sm mr-2" asp-action="Edit" asp-route-id="@reward.Id"
                               title="Edit"><i class="fas fa-edit"></i></a>
                        }
                        <a class="btn btn-primary btn-sm mr-2" asp-action="AddEvents" asp-route-id="@reward.Id"
                           title="Add Events"><i class="far fa-calendar-check"></i></a>
                        @if ((await authorizationService.AuthorizeAsync(User, reward, Policy.CanViewRewardees)).Succeeded)
                        {
                            <a class="btn btn-primary btn-sm" asp-action="Rewardees" asp-route-id="@reward.Id"
                               title="Rewardess"><i class="fas fa-user-friends"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                if (confirm("Do you want to delete this reward?")) {
                    var id = $(this).attr("data-id");
                    window.location.href = `@Context.Request.PathBase/MyRewards/Delete/${id}`;
                }
            });
        });
    </script>
}
