@model (List<Event>, List<Reward>)
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-7">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to SciCAFE!</h1>
            <p class="lead">
                SciCAFE (Science Campus Activities for Fostering Engagement) is a hub for events related to
                STEM and beyond! We want you to use this program to learn about events on campus, stay
                connected, and earn rewards!
            </p>
            <p>
                There are many events on campus! These include departmental seminars, a guest speaker
                for a class, or a training webinar. These also include social and community building
                events such as an open house or an awards ceremony. We want to encourage you to
                participate in these events so that you will grow professionally, learn a new point
                of view, and network.
            </p>
            <p>
                Why sign up here? This program will track your participation, making it easier for
                you to earn credit in courses who assign participation points for events (simply
                show your professor proof of attendance through this program). Earn other rewards
                depending on the program you participate it. Also, since you will have a list of
                the events you attend throughout your time at CalStateLA, it will also make it easier
                for you create a resume or CV. Finally, by signing up, you will never miss an event again!
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <h4 class="text-center">Upcoming Events</h4>
        @if (Model.Item1.Count == 0)
        {
            <p class="text-center">There are no upcoming events.</p>
        }
        else
        {
            <table class="table">
                <tbody>
                    @foreach (var evnt in Model.Item1)
                    {
                        <tr>
                            <td>@evnt.StartTime.ToString("g")</td>
                            <td><a asp-controller="Events" asp-action="View" asp-route-id="@evnt.Id">@evnt.Name</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <h4 class="text-center">Recent Rewards</h4>
        @if (Model.Item2.Count == 0)
        {
            <p class="text-center">There are no recent rewards.</p>
        }
        else
        {
            <table class="table">
                <tbody>
                    @foreach (var reward in Model.Item2)
                    {
                        <tr>
                            <td><a asp-controller="Rewards" asp-action="View" asp-route-id="@reward.Id">@reward.Name</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
